!jest.config.js
*.d.ts
node_modules
.env

# CDK asset staging directory
.cdk.staging
cdk.out

# Fixme: Jan 6, 2025 this became a problem. Why do I have to manually exclude???
layers/*
lambda/**/package-lock.json
